@mixin blockParams(
    $width,
    $height,
    $flexDirection,
    $justifyContent,
    $alignItems
    ) {
    width: $width;
    height: $height;

    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
};

@mixin blockPosition(
    $position,
    $top-or-bottom,
    $left-or-right,
    $value-top-bottom,
    $value-left-right) {
    position: $position;
    #{$top-or-bottom}: $value-top-bottom;
    #{$left-or-right}: $value-left-right;
}